{% block sw_cms_element_category_h1_preview %}
<div class="sw-cms-el-preview-category-h1">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" width="48" height="48">
        <rect x="4" y="4" width="40" height="8" rx="2" fill="#e0e0e0"/>
    </svg>
    <p>H1 категорії</p>
</div>
{% endblock %}
