{% block artiss_tools_images %}
<sw-page class="artiss-tools-images">
    {% block artiss_tools_images_header %}
        <template #smart-bar-header>
            <h2>
                <router-link
                        :to="{ name: 'artiss.tools.index' }"
                        class="smart-bar__back-btn"
                >
                    <sw-icon name="regular-chevron-left" small></sw-icon>
                </router-link>
                {{ $tc('artissTools.images.title') }}
            </h2>
        </template>
    {% endblock %}

    <template #content>
        <sw-tabs 
            class="sw-tabs--small artiss-tools__tabs" 
            @new-item-active="onTabChange" 
            :default-item="activeTab"
        >
            <sw-tabs-item name="cleanup" :active-tab="activeTab">
                {{ $tc('artissTools.images.tabs.cleanup') }}
            </sw-tabs-item>
            <sw-tabs-item name="duplicates" :active-tab="activeTab">
                {{ $tc('artissTools.images.tabs.duplicates') }}
            </sw-tabs-item>
        </sw-tabs>

        <template v-if="activeTab === 'cleanup'">
            <sw-card :title="$tc('artissTools.images.tabs.cleanup')">
                <p>{{ $tc('artissTools.images.placeholders.cleanup') }}</p>
            </sw-card>
        </template>

        <template v-else>
            <sw-card :title="$tc('artissTools.images.tabs.duplicates')">
                <p>{{ $tc('artissTools.images.placeholders.duplicates') }}</p>
            </sw-card>
        </template>
    </template>
</sw-page>
{% endblock %}
