<div class="sw-cms-preview-category-grid">
    <div class="sw-cms-preview-category-grid__item">
        <div class="sw-cms-preview-category-grid__img"></div>
        <div class="sw-cms-preview-category-grid__text">Категорія 1</div>
    </div>
    <div class="sw-cms-preview-category-grid__item">
        <div class="sw-cms-preview-category-grid__img"></div>
        <div class="sw-cms-preview-category-grid__text">Категорія 2</div>
    </div>
    <div class="sw-cms-preview-category-grid__item">
        <div class="sw-cms-preview-category-grid__img"></div>
        <div class="sw-cms-preview-category-grid__text">Категорія 3</div>
    </div>
    <div class="sw-cms-preview-category-grid__item">
        <div class="sw-cms-preview-category-grid__img"></div>
        <div class="sw-cms-preview-category-grid__text">Категорія 4</div>
    </div>
</div>
