{% block sw_cms_element_category_h1 %}
<div class="sw-cms-el-category-h1">
    <div class="sw-cms-el-category-h1__placeholder">
        <sw-icon name="regular-heading"></sw-icon>
        <p>H1 категорії</p>
        <small>H1 буде відображено автоматично на основі кастомного поля або назви категорії</small>
    </div>
</div>
{% endblock %}
