{% block artiss_tools_backups %}
<sw-page class="artiss-tools-backups">
    {% block artiss_tools_backups_header %}
        <template #smart-bar-header>
            <h2>
                <router-link
                        :to="{ name: 'artiss.tools.index' }"
                        class="smart-bar__back-btn"
                >
                    <sw-icon name="regular-chevron-left" small></sw-icon>
                </router-link>
                {{ $tc('artissTools.propertyProcessing.title') }}
            </h2>
        </template>
    {% endblock %}

    <template #content>
        <sw-tabs class="sw-tabs--small" v-model="activeTab" default-item="create">
            <sw-tabs-item name="create">
                {{ $tc('artissTools.backups.tabs.create') }}
            </sw-tabs-item>
            <sw-tabs-item name="restore">
                {{ $tc('artissTools.backups.tabs.restore') }}
            </sw-tabs-item>
        </sw-tabs>

        <sw-card v-if="activeTab === 'create'" :title="$tc('artissTools.backups.tabs.create')">
            <p>{{ $tc('artissTools.backups.placeholders.create') }}</p>
        </sw-card>

        <sw-card v-else :title="$tc('artissTools.backups.tabs.restore')">
            <p>{{ $tc('artissTools.backups.placeholders.restore') }}</p>
        </sw-card>
    </template>
</sw-page>
{% endblock %}
