{% block artiss_property_processing_index %}
    <sw-page class="artiss-property-processing-index">
        {% block artiss_property_processing_index_header %}
            <template #smart-bar-header>
                <h2>
                    <router-link
                        :to="{ name: 'artiss.tools.index' }"
                        class="smart-bar__back-btn"
                    >
                        <sw-icon name="regular-chevron-left" small></sw-icon>
                    </router-link>
                    {{ $tc('artissTools.propertyProcessing.title') }}
                </h2>
            </template>
        {% endblock %}

        {% block artiss_property_processing_index_content %}
            <template #content>
                <sw-tabs class="sw-tabs--small artiss-property-processing-index__tabs" @new-item-active="onTabChange" default-item="merge">
                    <sw-tabs-item name="merge">
                        {{ $tc('artissTools.propertyProcessing.tabs.merge') }}
                    </sw-tabs-item>
                    <sw-tabs-item name="merge-options">
                        {{ $tc('artissTools.propertyProcessing.tabs.mergeOptions') }}
                    </sw-tabs-item>
                    <sw-tabs-item name="split">
                        {{ $tc('artissTools.propertyProcessing.tabs.split') }}
                    </sw-tabs-item>
                    <sw-tabs-item name="transfer">
                        {{ $tc('artissTools.propertyProcessing.tabs.transfer') }}
                    </sw-tabs-item>
                    <sw-tabs-item name="cleanup">
                        {{ $tc('artissTools.propertyProcessing.tabs.cleanup') }}
                    </sw-tabs-item>
                </sw-tabs>

                <artiss-property-processing-merge-tab
                    v-if="activeTab === 'merge'"
                    :property-groups="propertyGroups"
                    :http-client="httpClient"
                    :get-auth-headers="getAuthHeaders"
                    :load-property-groups="loadPropertyGroups"
                    @property-groups-changed="onPropertyGroupsChanged"
                />

                <artiss-property-processing-merge-options-tab
                    v-else-if="activeTab === 'merge-options'"
                    :property-groups="propertyGroups"
                    :http-client="httpClient"
                    :get-auth-headers="getAuthHeaders"
                    :load-property-groups="loadPropertyGroups"
                    @property-groups-changed="onPropertyGroupsChanged"
                />

                <artiss-property-processing-split-tab
                    v-else-if="activeTab === 'split'"
                    :property-groups="propertyGroups"
                    :http-client="httpClient"
                    :get-auth-headers="getAuthHeaders"
                    :load-property-groups="loadPropertyGroups"
                    @property-groups-changed="onPropertyGroupsChanged"
                />

                <artiss-property-processing-transfer-tab
                    v-else-if="activeTab === 'transfer'"
                    :property-groups="propertyGroups"
                    :http-client="httpClient"
                    :get-auth-headers="getAuthHeaders"
                    :load-property-groups="loadPropertyGroups"
                    @property-groups-changed="onPropertyGroupsChanged"
                />

                <artiss-property-processing-cleanup-tab
                    v-else
                    :property-groups="propertyGroups"
                    :http-client="httpClient"
                    :get-auth-headers="getAuthHeaders"
                    :load-property-groups="loadPropertyGroups"
                    @property-groups-changed="onPropertyGroupsChanged"
                />
            </template>
        {% endblock %}
    </sw-page>
{% endblock %}
