framework:
    messenger:
        default_bus: messenger.bus.default

        transports:
            async:
                dsn: '%env(MESSENGER_REDIS_URL)%'
                options:
                    stream_max_entries: 10000
                    delete_after_ack: true
                    delete_after_reject: true
                    lazy: true

        routing:
            'Shopware\Core\Framework\MessageQueue\AsyncMessageInterface': async
