monolog:
    handlers:
        main:
            type: stream
            path: '%kernel.logs_dir%/%kernel.environment%.log'
            level: error
            channels: ['!event', '!doctrine']
            formatter: monolog.formatter.line

        console:
            type: console
            process_psr_3_messages: false
            channels: ['!event', '!doctrine', '!console']

        shopware:
            type: stream
            path: '%kernel.logs_dir%/shopware.log'
            level: info
            channels: ['shopware']

        messenger:
            type: stream
            path: '%kernel.logs_dir%/messenger.log'
            level: warning
            channels: ['messenger']

        deprecation:
            type: stream
            path: '%kernel.logs_dir%/deprecation.log'
            level: warning
            channels: ['php']
            formatter: monolog.formatter.line

        # Send critical errors to email if configured
        mail:
            type: native_mailer
            to: '%env(MONITORING_EMAIL)%'
            subject: '[Shopware Prod] Critical Error'
            level: critical
            channels: ['!event', '!doctrine']
            formatter: monolog.formatter.html
            content_type: text/html
