{% block artiss_tools_products %}
<sw-page class="artiss-tools-products">
    {% block artiss_tools_products_header %}
        <template #smart-bar-header>
            <h2>
                <router-link
                        :to="{ name: 'artiss.tools.index' }"
                        class="smart-bar__back-btn"
                >
                    <sw-icon name="regular-chevron-left" small></sw-icon>
                </router-link>
                {{ $tc('artissTools.products.title') }}
            </h2>
        </template>
    {% endblock %}

    <template #content>
        <sw-tabs 
            class="sw-tabs--small artiss-tools__tabs" 
            @new-item-active="onTabChange" 
            :default-item="activeTab"
        >
            <sw-tabs-item name="merge" :active-tab="activeTab">
                {{ $tc('artissTools.products.tabs.merge') }}
            </sw-tabs-item>
        </sw-tabs>

        <sw-card :title="$tc('artissTools.products.tabs.merge')" :isLoading="false">
            <p>{{ $tc('artissTools.products.placeholders.merge') }}</p>
        </sw-card>
    </template>
</sw-page>
{% endblock %}
