{% block supplier_list %}
    <sw-page class="supplier-list">
        {% block supplier_list_smart_bar_header %}
            <template #smart-bar-header>
                <h2>
                    {{ $tc('supplier.general.mainMenuItemGeneral') }}
                    <span v-if="!isLoading" class="sw-page__smart-bar-amount">({{ total }})</span>
                </h2>
            </template>
        {% endblock %}

        {% block supplier_list_smart_bar_actions %}
            <template #smart-bar-actions>
                {% block supplier_list_smart_bar_actions_update_prices %}
                    <sw-button
                        :routerLink="{ name: 'supplier.price.update.index' }"
                        variant="ghost"
                    >
                        {{ $tc('supplier.list.buttonUpdatePrices') }}
                    </sw-button>
                {% endblock %}

                {% block supplier_list_smart_bar_actions_delete %}
                    <sw-button
                        v-if="selectionCount > 0"
                        @click="onDelete"
                        variant="danger"
                        :disabled="isLoading"
                    >
                        {{ $tc('supplier.list.buttonDelete') }}
                    </sw-button>
                {% endblock %}

                {% block supplier_list_smart_bar_actions_add %}
                    <sw-button
                        :routerLink="{ name: 'artiss.supplier.create' }"
                        variant="primary"
                    >
                        {{ $tc('supplier.list.buttonAddSupplier') }}
                    </sw-button>
                {% endblock %}
            </template>
        {% endblock %}

        {% block supplier_list_language_switch %}
            <template #language-switch>
                <sw-language-switch @on-change="getList"></sw-language-switch>
            </template>
        {% endblock %}

        {% block supplier_list_content %}
            <template #content>
                {% block supplier_list_content_search %}
                    <sw-card :title="$tc('supplier.list.filterTitle')">
                        <div class="supplier-list__filters">
                            <sw-entity-single-select
                                v-model:value="filterSupplierId"
                                entity="art_supplier"
                                :label="$tc('supplier.list.filterSupplier')"
                                :placeholder="$tc('supplier.list.filterSupplierPlaceholder')"
                                @update:value="onSupplierFilterChange"
                                class="supplier-list__supplier-filter"
                            />
                            
                            <sw-entity-single-select
                                v-model:value="filterManufacturerId"
                                entity="product_manufacturer"
                                :criteria="manufacturerCriteria"
                                :label="$tc('supplier.list.filterManufacturer')"
                                :placeholder="$tc('supplier.list.filterManufacturerPlaceholder')"
                                @update:value="onManufacturerFilterChange"
                                class="supplier-list__manufacturer-filter"
                            />
                        </div>
                    </sw-card>
                {% endblock %}

                {% block supplier_list_content_list %}
                    <sw-entity-listing
                        v-if="suppliers"
                        :items="suppliers"
                        :repository="supplierRepository"
                        :showSelection="true"
                        :columns="supplierColumns"
                        :isLoading="isLoading"
                        :total="total"
                        detailRoute="artiss.supplier.detail"
                        @page-change="onPageChange"
                        @selection-change="onSelectionChanged"
                    >
                        <template #column-manufacturerIds="{ item }">
                            {{ formatManufacturers(item.manufacturerIds) }}
                        </template>

                        <template #column-alternativeManufacturerIds="{ item }">
                            {{ formatManufacturers(item.alternativeManufacturerIds) }}
                        </template>

                        <template #column-updatedAt="{ item }">
                            <template v-if="item.updatedAt">
                                {{ formatDate(item.updatedAt) }}
                            </template>
                        </template>
                    </sw-entity-listing>
                {% endblock %}
            </template>
        {% endblock %}
    </sw-page>
{% endblock %}
