<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/platform/trunk/src/Core/System/SystemConfig/Schema/config.xsd">
    
    <card>
        <title>Backup Settings</title>
        <title lang="de-DE">Backup-Einstellungen</title>
        <title lang="ru-RU">Настройки бэкапов</title>
        <title lang="uk-UA">Налаштування бекапів</title>

        <input-field type="text">
            <name>backupPath</name>
            <label>Backup directory</label>
            <label lang="de-DE">Backup-Verzeichnis</label>
            <label lang="ru-RU">Директория бэкапов</label>
            <label lang="uk-UA">Директорія бекапів</label>
            <helpText>Path relative to project root where backups will be stored</helpText>
            <helpText lang="de-DE">Pfad relativ zum Projektstamm, wo Backups gespeichert werden</helpText>
            <helpText lang="ru-RU">Путь относительно корня проекта для хранения бэкапов</helpText>
            <helpText lang="uk-UA">Шлях відносно кореня проекту для зберігання бекапів</helpText>
            <defaultValue>artiss-backups</defaultValue>
        </input-field>

        <input-field type="int">
            <name>backupRetention</name>
            <label>Default retention count</label>
            <label lang="de-DE">Standard-Aufbewahrungsanzahl</label>
            <label lang="ru-RU">Хранить бэкапов по умолчанию</label>
            <label lang="uk-UA">Зберігати бекапів за замовчуванням</label>
            <helpText>Number of backups to keep (older ones will be deleted)</helpText>
            <helpText lang="de-DE">Anzahl der aufzubewahrenden Backups (ältere werden gelöscht)</helpText>
            <helpText lang="ru-RU">Количество хранимых бэкапов (старые удаляются)</helpText>
            <helpText lang="uk-UA">Кількість бекапів для зберігання (старі видаляються)</helpText>
            <defaultValue>5</defaultValue>
        </input-field>
    </card>

</config>
