{% block supplier_detail %}
    <sw-page class="supplier-detail">
        {% block supplier_detail_header %}
            <template #smart-bar-header>
                <h2>{{ identifier }}</h2>
            </template>
        {% endblock %}

        {% block supplier_detail_actions %}
            <template #smart-bar-actions>
                {% block supplier_detail_actions_cancel %}
                    <sw-button
                        :routerLink="{ name: 'artiss.supplier.index' }"
                        :disabled="isLoading"
                    >
                        {{ $tc('supplier.detail.buttonCancel') }}
                    </sw-button>
                {% endblock %}

                {% block supplier_detail_actions_save %}
                    <sw-button-process
                        class="supplier-detail__save-action"
                        :isLoading="isLoading"
                        :processSuccess="processSuccess"
                        variant="primary"
                        @process-finish="saveFinish"
                        @click="onClickSave"
                    >
                        {{ $tc('supplier.detail.buttonSave') }}
                    </sw-button-process>
                {% endblock %}
            </template>
        {% endblock %}

        {% block supplier_detail_content %}
            <template #content>
                <sw-card-view v-if="supplier">
                    {% block supplier_detail_content_card_general %}
                        <sw-card
                            :title="$tc('supplier.detail.cardTitleGeneral')"
                            :isLoading="isLoading"
                        >
                            <sw-text-field
                                v-model="supplier.name"
                                :label="$tc('supplier.detail.labelName')"
                                :placeholder="$tc('supplier.detail.placeholderName')"
                                required
                            >
                            </sw-text-field>

                            <sw-custom-field-set-renderer
                                v-if="supplier"
                                :entity="supplier"
                                :sets="customFieldSets"
                            >
                            </sw-custom-field-set-renderer>
                        </sw-card>
                    {% endblock %}

                    {% block supplier_detail_content_card_contacts %}
                        <sw-card
                            :title="$tc('supplier.detail.cardTitleContacts')"
                            :isLoading="isLoading"
                        >
                            <sw-container columns="repeat(auto-fit, minmax(250px, 1fr))" gap="0px 30px">
                                <sw-text-field
                                    v-model="supplier.city"
                                    :label="$tc('supplier.detail.labelCity')"
                                    :placeholder="$tc('supplier.detail.placeholderCity')"
                                >
                                </sw-text-field>

                                <sw-text-field
                                    v-model="supplier.email"
                                    :label="$tc('supplier.detail.labelEmail')"
                                    :placeholder="$tc('supplier.detail.placeholderEmail')"
                                >
                                </sw-text-field>

                                <sw-text-field
                                    v-model="supplier.website"
                                    :label="$tc('supplier.detail.labelWebsite')"
                                    :placeholder="$tc('supplier.detail.placeholderWebsite')"
                                >
                                </sw-text-field>

                                <sw-textarea-field
                                    v-model="supplier.contacts"
                                    :label="$tc('supplier.detail.labelContacts')"
                                    :placeholder="$tc('supplier.detail.placeholderContacts')"
                                >
                                </sw-textarea-field>
                            </sw-container>
                        </sw-card>
                    {% endblock %}

                    {% block supplier_detail_content_card_business %}
                        <sw-card
                            :title="$tc('supplier.detail.cardTitleBusiness')"
                            :isLoading="isLoading"
                        >
                            <sw-container columns="repeat(auto-fit, minmax(250px, 1fr))" gap="0px 30px">
                                <sw-text-field
                                    v-model="supplier.discountOnline"
                                    :label="$tc('supplier.detail.labelDiscountOnline')"
                                    :placeholder="$tc('supplier.detail.placeholderDiscountOnline')"
                                >
                                </sw-text-field>

                                <sw-text-field
                                    v-model="supplier.discountOpt"
                                    :label="$tc('supplier.detail.labelDiscountOpt')"
                                    :placeholder="$tc('supplier.detail.placeholderDiscountOpt')"
                                >
                                </sw-text-field>

                                <sw-text-field
                                    v-model="supplier.margin"
                                    :label="$tc('supplier.detail.labelMargin')"
                                    :placeholder="$tc('supplier.detail.placeholderMargin')"
                                >
                                </sw-text-field>
                            </sw-container>
                        </sw-card>
                    {% endblock %}

                    {% block supplier_detail_content_card_additional %}
                        <sw-card
                            :title="$tc('supplier.detail.cardTitleAdditional')"
                            :isLoading="isLoading"
                        >
                            <sw-textarea-field
                                v-model="supplier.note"
                                :label="$tc('supplier.detail.labelNote')"
                                :placeholder="$tc('supplier.detail.placeholderNote')"
                            >
                            </sw-textarea-field>

                            <sw-textarea-field
                                v-model="supplier.details"
                                :label="$tc('supplier.detail.labelDetails')"
                                :placeholder="$tc('supplier.detail.placeholderDetails')"
                            >
                            </sw-textarea-field>
                        </sw-card>
                    {% endblock %}
                </sw-card-view>
            </template>
        {% endblock %}
    </sw-page>
{% endblock %}
