{% block supplier_detail %}
    <sw-page class="supplier-detail">
        {% block supplier_detail_header %}
            <template #smart-bar-header>
                <h2>{{ identifier }}</h2>
            </template>
        {% endblock %}

        {% block supplier_detail_actions %}
            <template #smart-bar-actions>
                {% block supplier_detail_actions_cancel %}
                    <sw-button
                        :routerLink="{ name: 'artiss.supplier.index' }"
                        :disabled="isLoading"
                    >
                        {{ $tc('supplier.detail.buttonCancel') }}
                    </sw-button>
                {% endblock %}

                {% block supplier_detail_actions_save %}
                    <sw-button-process
                        class="supplier-detail__save-action"
                        :isLoading="isLoading"
                        :processSuccess="processSuccess"
                        variant="primary"
                        @process-finish="saveFinish"
                        @click="onClickSave"
                    >
                        {{ $tc('supplier.detail.buttonSave') }}
                    </sw-button-process>
                {% endblock %}
            </template>
        {% endblock %}

        {% block supplier_detail_content %}
            <template #content>
                <sw-card-view v-if="supplier">
                    {% block supplier_detail_content_card_general %}
                        <sw-card
                            :title="$tc('supplier.detail.cardTitleGeneral')"
                            :isLoading="isLoading"
                        >
                            <sw-text-field
                                v-model="supplier.name"
                                :label="$tc('supplier.detail.labelName')"
                                :placeholder="$tc('supplier.detail.placeholderName')"
                                required
                            >
                            </sw-text-field>
                        </sw-card>
                    {% endblock %}

                    {% block supplier_detail_content_tabs %}
                        <sw-card v-if="supplier" :isLoading="isLoading">
                            <sw-tabs
                                class="supplier-detail-tabs"
                                :defaultItem="activeTab"
                                @new-item-active="onTabChange"
                                :small="false"
                            >
                                <sw-tabs-item
                                    name="contacts"
                                    :title="$tc('supplier.detail.tabContacts')"
                                >
                                    {{ $tc('supplier.detail.tabContacts') }}
                                </sw-tabs-item>
                                <sw-tabs-item
                                    name="commercial"
                                    :title="$tc('supplier.detail.tabCommercial')"
                                >
                                    {{ $tc('supplier.detail.tabCommercial') }}
                                </sw-tabs-item>
                                <sw-tabs-item
                                    name="additional"
                                    :title="$tc('supplier.detail.tabAdditional')"
                                >
                                    {{ $tc('supplier.detail.tabAdditional') }}
                                </sw-tabs-item>
                                <sw-tabs-item
                                    name="files"
                                    :title="$tc('supplier.detail.tabFiles')"
                                >
                                    {{ $tc('supplier.detail.tabFiles') }}
                                </sw-tabs-item>
                            </sw-tabs>

                            {# Contacts Tab #}
                            <div v-if="activeTab === 'contacts'" class="sw-card__content">
                                <div v-for="field in contactsFields" :key="field" class="sw-field">
                                    <sw-form-field-renderer
                                        v-if="getCustomField(field)"
                                        v-model:value="supplier.customFields[field]"
                                        :config="getCustomField(field).config"
                                    >
                                    </sw-form-field-renderer>
                                </div>
                            </div>

                            {# Commercial Tab #}
                            <div v-if="activeTab === 'commercial'" class="sw-card__content">
                                <div v-for="field in commercialFields" :key="field" class="sw-field">
                                    <sw-form-field-renderer
                                        v-if="getCustomField(field)"
                                        v-model:value="supplier.customFields[field]"
                                        :config="getCustomField(field).config"
                                    >
                                    </sw-form-field-renderer>
                                </div>
                            </div>

                            {# Additional Tab #}
                            <div v-if="activeTab === 'additional'" class="sw-card__content">
                                <div v-for="field in additionalFields" :key="field" class="sw-field">
                                    <sw-form-field-renderer
                                        v-if="getCustomField(field)"
                                        v-model:value="supplier.customFields[field]"
                                        :config="getCustomField(field).config"
                                    >
                                    </sw-form-field-renderer>
                                </div>
                            </div>

                            {# Files Tab #}
                            <div v-if="activeTab === 'files'" class="sw-card__content">
                                <div v-for="field in filesFields" :key="field" class="sw-field">
                                    <sw-form-field-renderer
                                        v-if="getCustomField(field)"
                                        v-model:value="supplier.customFields[field]"
                                        :config="getCustomField(field).config"
                                    >
                                    </sw-form-field-renderer>
                                </div>
                            </div>
                        </sw-card>
                    {% endblock %}
                </sw-card-view>
            </template>
        {% endblock %}
    </sw-page>
{% endblock %}
