{% block sw_cms_block_category_info_preview %}
<div class="sw-cms-preview-category-info">
    <div class="sw-cms-preview-category-info__content">
        <div class="sw-cms-preview-category-info__text">
            <div class="line line--large"></div>
            <div class="line line--medium"></div>
            <div class="line line--small"></div>
        </div>
        <div class="sw-cms-preview-category-info__image">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100">
                <rect width="100" height="100" fill="#e0e0e0"/>
                <circle cx="30" cy="30" r="8" fill="#c0c0c0"/>
                <path d="M10 80 L40 50 L60 70 L90 40" stroke="#c0c0c0" stroke-width="3" fill="none"/>
            </svg>
        </div>
    </div>
    <p class="sw-cms-preview-category-info__label">Інформація про категорію</p>
</div>
{% endblock %}
