{% block sw_cms_element_category_info %}
<div class="sw-cms-el-category-info">
    <div class="sw-cms-el-category-info__placeholder">
        <sw-icon name="regular-file-text"></sw-icon>
        <p>Інформація про категорію</p>
        <small>Опис та зображення категорії будуть відображені автоматично</small>
    </div>
</div>
{% endblock %}
